In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pwd

'/content'

In [ ]:

from google.colab import files
uploaded = files.upload()
#importing data set file

Saving taxi.csv to taxi.csv

In [ ]:
data = pd.read_csv ('taxi.csv')# Loading data set
data.head(10)

   Priceperweek  Population  ...  Averageparkingpermonth  Numberofweeklyriders
0            15     1800000  ...                      50                192000
1            15     1790000  ...                      50                190400
2            15     1780000  ...                      60                191200
3            25     1778000  ...                      60                177600
4            25     1750000  ...                      60                176800
5            25     1740000  ...                      70                178400
6            25     1725000  ...                      75                180800
7            30     1725000  ...                      75                175200
8            30     1720000  ...                      75                174400
9            30     1705000  ...                      80                173920

[10 rows x 5 columns]

In [ ]:
len(data)

27

In [ ]:
data_x=data.iloc[:, 0:-1].values #Separate the dependent and independent variables
data_y=data.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split( data_x, data_y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=reg.predict(x_test)
y_pred #show predicted values

array([188629.50339543, 136559.39301861, 167923.33044203, 126048.35876704,
       178953.09696641, 166223.49873765, 130975.62779069, 167971.3136973 ,
       141866.03727522])

In [ ]:
y_test # Show the Actual Values

2     191200
24    126080
14    160800
17    115696
5     178400
11    163200
23    123888
13    161600
19    150400
Name: Numberofweeklyriders, dtype: int64

In [ ]:
print(reg.coef_) # print coeficent values i.e. b1, b2, b3 and b4 values

[-5.68775893e+02  1.30158909e-01 -5.49376209e-02  1.22759763e+02]

In [ ]:
print(reg.intercept_) # intercept values

-41535.70104645021

In [ ]:
# y=b0+b1x1+b2x2+b3x3+b4x4
y_0=reg.intercept_+reg.coef_[0]*x_test[0][0]+reg.coef_[1]*x_test[0][1]+reg.coef_[2]*x_test[0][2]+reg.coef_[3]*x_test[0][3]
y_1= reg.intercept_+reg.coef_[0]*x_test[1][0]+reg.coef_[1]*x_test[1][1]+reg.coef_[2]*x_test[1][2]+reg.coef_[3]*x_test[1][3]
y_1
# formula to check with prediction values i.e. verifying the result

136559.39301861406

In [ ]:
print('Training Score:', reg.score(x_train,y_train)*100)
print('Testing Score:', reg.score(x_test, y_test)*100)
# performance in Training and testing

Training Score: 94.28364724316813
Testing Score: 91.57379222488221

In [ ]:
# 80, 1770000, 6500, 80 if values provide input than calculate the number of weekly rides.

In [ ]:
z1=[[80, 1770000, 6500, 80]] # List for prediction of some random values
output= reg.predict(z1)
print(output) # Print prediction of no of weekly rides

[152807.18276596]